.card{
    border-radius: 40vw * @px2vw;

    h1{
        font-size: clamp(23px, 69vw * @px2vw, 69px);
    }

    h2{
        font-size: 44vw * @px2vw;
    }

    h1, h2{
        text-transform: uppercase;
        font-family: @title-font;
        max-width: clamp(800px, 900vw * @px2vw, 900px);
        margin: 0 auto clamp(7px, 20vw * @px2vw, 20px);
    }

    p{
        font-size: clamp(13px, 28vw * @px2vw, 28px);
        margin: 0 auto;
        max-width: clamp(90%, 900vw * @px2vw, 900px);
    }
}

.card--rotation-l{
    transform: rotate(-2deg);
}

.card--rotation-r{
    transform: rotate(2deg);
}

.card--medium{
    text-align: center;
    max-width: clamp(90%, 1200vw * @px2vw, 1200px);
    margin: 0 auto;
    padding: 120vw * @px2vw 0;
}

.card--larger{
    text-align: center;
    width: clamp(100%, 1400vw * @px2vw, 1400px);
    margin: 0 auto;
    padding: 120vw * @px2vw 0;

    > *{
        .no-shadow;
    }
}

.card--border{
    border: 1px solid black;
}

.card--darker{
    background-color: @bg-darker-yellow;
}

.card--lighter{
    background-color: @bg-light-yellow;
}

.card--black{
    background-color: black;
    color: @yellow;
}

.card--translate-1{
    transform: translateY((-92vw / 2) * @px2vw);
}

.card--translate-2{
    transform: rotate(2deg) translateY((-92vw) * @px2vw);
}

// ABOUT CARD

.card--about{
    text-align: left;

    > * {
        text-shadow: none;
    }

    p:last-of-type{
        font-size: 18vw * @px2vw;
        letter-spacing: 0.02em;
        margin: 32vw * @px2vw 0 40vw * @px2vw;
    }

    > * {
        width: 900vw * @px2vw;
    }

    button{
        text-align: left;
        
        a{
            background-color: @black;
            padding: 8vw * @px2vw 16vw * @px2vw;
            color: white;
            border-radius: 12vw * @px2vw;
            font-size: 18vw * @px2vw;
        }
    }
}

.card--about--lighter{
    width: 1540vw * @px2vw;
    background: @bg-light-yellow;
    padding: 100vw * @px2vw 320vw * @px2vw;
}

.card--about--darker{
    background: @bg-darker-yellow;
    padding: 113vw * @px2vw 373vw * @px2vw;
    transform: rotate(-2deg);
}

