.card{
    border-radius: 40px;
    box-shadow: 0px 4px 4px black;

    h1{
        .px-rem(69);
    }

    h2{
        .px-rem(44);
    }
}

.card--rotate

.card--text{
    padding: 120vw * @px2vw, 277vw * @px2vw;
}

.card--darker{
    background-color: @bg-darker-yellow;
}

.card--lighter{
    background-color: @bg-light-yellow;
    border: 1px solid black;
}

.card--black{
    background-color: black;
    color: @yellow;
}