    .others{
        position: relative;
        margin-top: (180vw + ((143vw + 203vw)/2)) * @px2vw;
        display: flex;
        flex-direction: column;
        gap: clamp(50px, 180vw * @px2vw, 180px);
        align-items: center;
        background-color: @bg-light-yellow;
        padding-top: (143vw / 2) * @px2vw;
        padding-bottom: clamp(50px, 180vw * @px2vw, 180px);

        p{
            text-align: center;
            margin-bottom: 0;
            font-weight: 500;
        }

        .name{
            font-size: clamp(14px, 23vw * @px2vw, 23px);
        }
    }

    .others__section{
        display: flex;
        flex-direction: column;
        gap: clamp(25px, 60vw * @px2vw, 60px);
        font-size: clamp(18px, 44vw * @px2vw, 44px);
        overflow: hidden;
        width: 100%;
    }

    .others__vector{
        background-color: @bg-light-yellow;
        width: 100%;
        height: (143vw + 203vw) * @px2vw; 
        position: absolute;
        top: -143vw * @px2vw;
        clip-path: ellipse(60% 50% at 50% 50%);
    }

    .square-s{
        height: clamp(20px, 160vw * @px2vw, 160px);
        width: clamp(20px, 160vw * @px2vw, 160px);
        display: inline-block;
        vertical-align: middle;

        img{
            border-radius: clamp(10px, 40vw * @px2vw, 40px);
        }
    }

    .rectangle{
        height: clamp(100px, 243vw * @px2vw, 243px);
        width: clamp(200px, 400vw * @px2vw, 400px);
        border-radius: clamp(20px, 40vw * @px2vw, 40px);
        display: inline-block;

        img:first-of-type {
            border-radius: clamp(20px, 40vw * @px2vw, 40px);
        }
    }

    .square-l{
        height: clamp(60px, 332vw * @px2vw, 332px);
        width: clamp(80px, 400vw * @px2vw, 400px);
        border-radius: clamp(20px, 40vw * @px2vw, 40px);

        img:first-of-type {
            border-radius: clamp(20px, 40vw * @px2vw, 40px);
        }
    }

    .text-img-container{
        position: relative;
        display: inline-block;

        svg{
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .overlay-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 60;
        padding: clamp(40px, 80vw * @px2vw, 80px);

        .overlay-img__bg{
            background-color: @bg-color;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.3s ease-in-out;
        }
    }