.menu-container {
    display: none;
    position: fixed;
    top: -100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: calc(100vh - (180vw * @px2vw) - (18vw * @px2vw * 7));
    padding-top: clamp(100px, 120vw * @px2vw, 120px);
    transition: all 0.3s ease-in-out;
}

.menu.open {
    display: flex;
    transform: translateX(0);
}

.menu__item{
    background: @bg-light-yellow;   
    padding: clamp(12px, 18vw * @px2vw, 18px) clamp(40px, 90vw * @px2vw, 90px);
    border-radius: clamp(10px, 20vw * @px2vw, 20px);
    display: flex;

    &__text{
        line-height: 1em;
        .m-0;
        font-family: @title-font;
        color: @black;
        font-weight: bold;  
        text-transform: uppercase;
        font-size: clamp(30px, 80vw * @px2vw, 80px) !important;
    }
}

.menu__item--r{
    transform: rotate(2deg);
}

.menu__item--l{
    transform: rotate(-2deg);
}