.menu-container{
    margin-top: 120px;
    height: 100vh - 120px;
    .p-0;
}

.menu-container__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.menu__item{
    background: @bg-light-yellow;
    padding: 18px 90.40px ;
    
    h1{
        .m-0;
        font-size: 80.25vw * @px2vw;
    }
}

.menu__item--r{
    transform: rotate(2deg);
}

.menu__item--l{
    transform: rotate(-2deg);
}