.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - (180vw * @px2vw) - (18vw * @px2vw * 7));
    margin-top: 180vw * @px2vw;
    .p-0;
}

.menu__item{
    background: @bg-light-yellow;
    padding: 18vw * @px2vw 90vw * @px2vw;
    border-radius: 20vw * @px2vw;

    h1{
        .m-0;
        .px-rem(80.25);
    }
}

.menu__item--r{
    transform: rotate(2deg);
}

.menu__item--l{
    transform: rotate(-2deg);
}