.projects {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    column-gap: clamp(20px, 62vw * @px2vw, 59px);
    row-gap: clamp(50px, 99vw * @px2vw, 99px);
    margin-top: 80vw * @px2vw;
    margin-bottom: clamp(80px, 147vw * @px2vw, 147px) !important;
    align-items: start !important;

    @media (max-width: @tablet-s) {
        grid-template-columns: 1fr;
    }

    &__single-project{
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: clamp(15px, 28vw * @px2vw, 28px);  

        .projects__single-projects__img{
            position: relative;
            min-height: clamp(200px, 600vw * @px2vw, 600px);
            width: 100%;
            background-color: @bg-darker-yellow;
            border-radius: clamp(20px, 40vw * @px2vw, 40px);

            @media (min-width: 1921px) {
                width: 780px;
            }

            img{
                border-radius: clamp(20px, 40vw * @px2vw, 40px);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            svg{
                z-index: 2;
                width: clamp(100px, 153vw * @px2vw, 153px);
                height: clamp(80px, 140vw * @px2vw, 140px);
                position: absolute;
                bottom: clamp(-2px, -6vw * @px2vw, -6px);
                right: clamp(-2px, -6vw * @px2vw, -6px);
                transform: translate(16%,15%);
            }
        }

    }


    & p:first-of-type{
        font-size: clamp(14px, 18vw * @px2vw, 18px);
    }

    & p:last-of-type{
        font-size: clamp(40px, 55vw * @px2vw, 55px);
    }

    p{
        font-weight: 500;
        .m-0;
    }
}

            
