:root {
    --swiper-pagination-bullet-inactive-color: #fff;
    --swiper-pagination-color: #000000;
}

.swiper-pagination{
    position: static;
    margin-top: 30px;
    &-bullet{
        border: 1px solid @text-color;
    }
}
