:root {
    --swiper-pagination-bullet-inactive-color: #fff;
    --swiper-pagination-color: #000000;
}

.swiper--home {
    width: 100%;
    height: clamp(320px, 800vw * @px2vw , 800px);
    position: relative;

    .swiper-slide-active .swiper-card {
        width: clamp(200px, 530vw * @px2vw, 530px); 
        height: clamp(250px, 660vw * @px2vw, 660px); 
        transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    
        img{
            width: auto;
            height: clamp(260px, 685vw * @px2vw, 685px);
            transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
        }
    
        button{
            width: clamp(30px, 60vw * @px2vw, 60px);
            height: clamp(30px, 60vw * @px2vw, 60px);
    
            svg{
                height: clamp(14px, 26vw * @px2vw, 26px);
                width: auto;
            }
        }
    }

    .swiper-slide--home {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .m-0;
        gap: clamp(10px, 20vw * @px2vw, 20px);
    
        p{
            font-size: clamp(12px, 23vw * @px2vw, 23px);
        }
    
        button{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: clamp(20px, 45vw * @px2vw, 45px);
            height: clamp(20px, 45vw * @px2vw, 45px);
            border-radius: 5px;
            background-color: @bg-color;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease-in-out;
    
            svg{
                height: clamp(10px, 20vw * @px2vw, 20px);
                width: auto;
                position: relative;
                left: 1vw * @px2vw;
                transition: all 0.3s ease-in-out;
            }
        }
    }
    
    .swiper-card {
        width: clamp(140px, 400vw * @px2vw, 400px);
        height: clamp(182px, 495vw * @px2vw, 495px);
        background-color: #f0f0f0;
        border-radius: clamp(20px, 40vw * @px2vw, 40px);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
        
        img {
            width: auto;
            height: clamp(190px, 514vw * @px2vw, 514px);
            position: absolute;
            bottom: -2vw * @px2vw;
            transition: width 0.3s ease-in-out, height 0.3s ease-in-out; 
        }
    }
}




.swiper-button-prev,
.swiper-button-next {
    color: @black;
}

@media (max-width: 768px) {
    .swiper-button-prev, 
    .swiper-button-next {
        display: none; 
    }
}



.swiper--view {
    width: 100%;
    height: clamp(230px, 630vw * @px2vw, 630px);
    margin-top: clamp(7px, 83vw * @px2vw, 83px);
    margin-bottom: clamp(35px, 180vw * @px2vw, 180px);
    position: relative;
    overflow: hidden;

    .swiper-wrapper {
        display: flex;
        align-items: center;
    }

    .swiper-slide--view {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out; 

        img{
            width: clamp(220px, 624vw * @px2vw, 624px);
            height: auto;
            transition: all 0.3s ease-in-out; 
        }
    }

    .swiper-slide-active {
        height: auto;
        transition: all 0.3s ease-in-out; 

        img{
            width: clamp(310px, 780vw * @px2vw, 780px) !important;
            transition: all 0.3s ease-in-out; 
        }
    }
}