.donation{
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: clamp(12px, 50vw * @px2vw, 50px);

        svg{
            width: clamp(30px, 160vw * @px2vw, 160px);
            height: auto;
            position: relative;
            bottom: clamp(2px, 11vw * @px2vw, 11px);
        }
    }
}

.container-hover{
    width: clamp(100px, 400vw * @px2vw, 400px);
    height: clamp(50px, 243vw * @px2vw, 243px);
    position: relative;
    display: inline-block;

    .img-wrapper-1{
        position: absolute;
        .z-2;
        right: clamp(80px, 560vw * @px2vw, 560px);
        top: clamp(20px, 200vw * @px2vw, 200px);
        width: 85%;
        height: 135%;
        transform: rotate(-4deg) scale(2);
    
        img:first-of-type {
            border-radius: clamp(10px, 52vw * @px2vw, 52px);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        .svg{
            position: absolute;
            bottom: clamp(-16px, -16vw * @px2vw, -6px);
            right: clamp(-16px, -16vw * @px2vw, -6px);
            width: clamp(40px, 120vw * @px2vw, 120px);
            height: auto;
        }    
    }
}

.img-wrapper-2 {
    .z-3;
    position: absolute;
    bottom: 0px;
    right: clamp(15px, 77vw * @px2vw, 77px);

    img:first-of-type {
        border-radius: clamp(10px, 52vw * @px2vw, 52px);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }   

    .svg{
        position: absolute;
        bottom: clamp(-25px, -25vw * @px2vw, -10px);
        right: clamp(-25px, -25vw * @px2vw, -10px);
        width: clamp(40px, 175vw * @px2vw, 175px);
        height: auto;
    }    
}

.title{
    line-height: 100% !important;
    font-size: clamp(35px, 168vw * @px2vw, 168px);
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    font-family: @title-font;    
    margin-bottom: 80vw * @px2vw;
    position: relative;

    img{
        cursor: pointer;
    }
}

.donation, .progetti, .view, .about, .footer, .partner, .work{
    .title{
        .opacity;
    }
}

body.no-scroll {
    overflow: hidden; 
}

.container-title-img{
    position: relative;
    z-index: 1;

    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}