.donation{
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: clamp(12px, 50vw * @px2vw, 50px);

        svg{
            width: clamp(30px, 160vw * @px2vw, 160px);
            height: auto;
            position: relative;
            bottom: clamp(2px, 11vw * @px2vw, 11px);
        }
        
    }
}