html{
    font-size: 13px;
}

body{
    color: @text-color;
    font-family: @main-font;
    font-size: 1rem;
}

a{
    color: @main-color;
}


p{
    font-family: @second-font;
    line-height: 1.4em;
    margin-bottom: 1em;
    &:last-child{
        margin: 0;
    }
}

em{
    font-style: italic;
}

strong{
    font-weight: bold;
}

blockquote{
    margin-bottom: 1em;
    *{
        line-height: 1.1em;
    }
}

/// FONT
.font-35{
    font-size: 35px;
    line-height: 1.2em;
    *{
        line-height: 1.2em;
    }
}

.font-30{
    font-size: 30px;
    line-height: 1.2em;
    *{
        line-height: 1.2em;
    }
}

.font-22{
    font-size: 22px;
    line-height: 1.4em;
    *{
        line-height: 1.4em;
    }
}

.font-20{
    font-size: 20px;
    line-height: 1.4em;
    *{
        line-height: 1.4em;
    }
}

.font-12{
    font-size: 12px;
}

.font-10{
    font-size: 10px;
}

.font-28{
    .px-rem(28);
}

.font-23{
    .px-rem(23);
}

.title{
    font-size: clamp(20px, 168vw * @px2vw, 168px);
    text-align: justify;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    font-family: @title-font;
}

.title--shadow{
    text-shadow: 0px 4px 4px black;
}
