.view {
    > :first-child,
    .title {
        text-align: center;
    }

    > :first-child {
        font-weight: 500;
        font-size: clamp(10px, 28vw * @px2vw, 28px);
    }
}

article {
    @media (max-width: @tablet-s) {
        margin-top: 0;
        margin-bottom: 20px;
    }

    margin-top: clamp(0px, 103vw * @px2vw, 103px);
    display: flex;
    flex-direction: column;

    p {
        text-align: left;
    }

    p:first-of-type {
        font-size: clamp(18px, 55vw * @px2vw, 55px);
        width: clamp(300px, 1225vw * @px2vw, 100%);
        font-weight: 500;

        @media (max-width: @tablet-s) {
            width: 100%;
        }
    }

    p:last-of-type {
        display: grid;
        align-self: flex-end;
        font-size: clamp(13px, 28vw * @px2vw, 28px);
        width: clamp(100px, 671vw * @px2vw, 671px);

        @media (max-width: @tablet-s) {
            width: 100%;
        }
    }
}
