.view {

    > :first-child,
    .title{
        text-align: center;
    }

    > :first-child {
        font-weight: 500;
        font-size: clamp(10px, 28vw * @px2vw, 28px);
    }

    .view__container-img{
        width: 100%;
        height: auto;
        background-color: @bg-darker-yellow;
        border-radius: clamp(20px, 40vw * @px2vw, 40px);
        overflow: hidden;
    }

    .view__carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 140vw * @px2vw;
        overflow-x: hidden;
        margin: 83vw * @px2vw auto 180vw * @px2vw;

        .view__carousel__img--large{
            width: clamp(250px, 780vw * @px2vw, 780px);
            height: auto;
        }

        .view__carousel__img--small{
            width: clamp(160px, 624vw * @px2vw, 624px);
            height: auto;
        }
    }
}

// CHIEDERE AD ALEX PERCHE' NON FUNZIZONA SE CREO UN ALTRO FILE LESS

article {
    @media (max-width: @tablet-s) {
        margin-top: 0;
        margin-bottom: 20px;
    }

    margin-top: clamp(0px, 103vw * @px2vw, 103px);
    display: flex;
    flex-direction: column;

    p{
        text-align: left;
    }

    p:first-of-type { 
        font-size: clamp(18px, 55vw * @px2vw, 55px);
        width: 1225vw * @px2vw;
        font-weight: 500;

        @media (max-width: @tablet-s) {
            width: 100%;
        }
    }

    p:last-of-type {
        display: grid;
        align-self: flex-end;
        font-size: clamp(13px, 28vw * @px2vw, 28px);
        width: clamp(100px, 671vw * @px2vw, 671px);

        @media (max-width: @tablet-s) {
            width: 100%;
        }
    }
}