.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0 auto;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;

        &__logo {
            display: flex;
            max-width: 118px; 
            height: 100%; 
    
            a {
                display: flex; 
                justify-content: center;
                align-items: center;
            }
    
            svg {
                max-width: 100%;
                height: auto;
                display: block;
            }
        }

        button{
            background-color: black;
            border-radius: 10px;
            padding: 8px 16px;
            color: white;
        }
    
        &__toggler{
            .font-12();
            display: flex;
            align-items: center;
            gap: 10px;
            color: @text-color;
            cursor: pointer;
        }

    &__menu{
        display: flex;
        align-items: center;
        gap: 40vw * @px2vw;
        justify-content: flex-end;
    }
}
